<section class="rounded border border-primary" >
  <section>
    <header>
      <article>
        <h1>Get started with Bootstrap</h1>
      </article>
    </header>

    <article>
      <p>
        Quickly and easily get started with Bootstrap's compiled,
        production-ready files with this barebones example featuring some
        basic HTML and helpful links. Download all our examples to get
        started.
      </p>
    </article>

    <div>
      <article>
        <a href="../examples/" class="btn btn-primary">Download examples</a>
      </article>
    </div>
  </section>

  <section class="mt-5">
    <!-- <hr class="col-3 col-md-2 mb-5"> -->

    <header>
      <article>
        <h1>Starter projects</h1>
      </article>
    </header>

    <article>
      <p>
        Ready to beyond the starter template? Check out these open source
        projects that you can quickly duplicate to a new GitHub
        repository.
      </p>
    </article>

    <article>
      <div>
        <ul class="icon-list">
          <li>
            <a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm
              starter</a>
          </li>
          <li class="text-muted">
            Bootstrap Parcel starter (coming soon!)
          </li>
        </ul>
      </div>
    </article>
  </section>

  <section class="mt-5">
    <header>
      <article>
        <h1>Guides</h1>
      </article>
    </header>

    <article>
      <p>
        Read more detailed instructions and documentation on using or
        contributing to Bootstrap.
      </p>
    </article>

    <article>
      <div>
        <ul class="icon-list">
          <li>
            <a href="../getting-started/introduction/">Bootstrap quick start guide</a>
          </li>
          <li>
            <a href="../getting-started/webpack/">Bootstrap Webpack guide</a>
          </li>
          <li>
            <a href="../getting-started/parcel/">Bootstrap Parcel guide</a>
          </li>
          <li>
            <a href="../getting-started/contribute/">Contributing to Bootstrap</a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</section>
