
<app-page-header></app-page-header>
<!-- Page content-->
<div class="container">

  <div class="row">
    <div class="col-lg-8 mt-5">
      <!-- Bdges -->
      <!-- <app-badges></app-badges> -->
      <!-- Post content-->
      <app-post-content></app-post-content>
      <app-comments></app-comments>
      <!-- <router-outlet></router-outlet> -->
    </div>

    <!-- Side widgets-->
    <div class="col-lg-4 mt-5">
      <!-- Search widget-->
      <!-- <app-search-widget></app-search-widget> -->

      <!-- get-started-with-bootstrap -->
      <app-get-started></app-get-started>

      <!-- Categories widget-->
      <app-categories-widget></app-categories-widget>

      <!-- Side widget-->
      <app-side-widgets></app-side-widgets>

      <!-- Acordion -->
      <app-accordion></app-accordion>
    </div>
  </div>
</div>
