<section class="my-5 rounded border border-primary" >
  <div class="row">
    <div class="col-lg-6">
      <!-- Blog post-->
      <section>
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
              alt="..." /></a>
          <div class="card-body">
            <article>
              <header>
                <h2 class="card-title h4">Post Title</h2>
              </header>
              <div class="text-muted fst-italic mb-2">
                Posted on January 1, 2021 by Start Bootstrap
              </div>
            </article>
            <article>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla.
              </p>
            </article>
            <article>
              <a class="btn btn-primary" href="#!">Read more →</a>
            </article>
          </div>
        </div>
      </section>

      <section>
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
              alt="..." /></a>
          <div class="card-body">
            <article>
              <header>
                <h2 class="card-title h4">Post Title</h2>
              </header>

              <div class="text-muted fst-italic mb-2">
                Posted on January 1, 2021 by Start Bootstrap
              </div>
            </article>
            <article>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla.
              </p>
            </article>
            <article>
              <a class="btn btn-primary" href="#!">Read more →</a>
            </article>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6">
      <!-- Blog post-->
      <section>
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
              alt="..." /></a>
          <div class="card-body">
            <article>
              <header>
                <h2 class="card-title h4">Post Title</h2>
              </header>
              <div class="text-muted fst-italic mb-2">
                Posted on January 1, 2021 by Start Bootstrap
              </div>
            </article>
            <article>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla.
              </p>
            </article>
            <article>
              <a class="btn btn-primary" href="#!">Read more →</a>
            </article>
          </div>
        </div>
      </section>

      <section>
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
              alt="..." /></a>
          <div class="card-body">
            <article>
              <header>
                <h2 class="card-title h4">Post Title</h2>
              </header>

              <div class="text-muted fst-italic mb-2">
                Posted on January 1, 2021 by Start Bootstrap
              </div>
            </article>
            <article>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reiciendis aliquid atque, nulla.
              </p>
            </article>
            <article>
              <a class="btn btn-primary" href="#!">Read more →</a>
            </article>
          </div>
        </div>
      </section>
    </div>
    <!-- <nav aria-label="Pagination">
      <hr class="my-0" />
      <ul class="pagination justify-content-center my-4">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#!">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#!">2</a></li>
        <li class="page-item"><a class="page-link" href="#!">3</a></li>
        <li class="page-item disabled">
          <a class="page-link" href="#!">...</a>
        </li>
        <li class="page-item"><a class="page-link" href="#!">15</a></li>
        <li class="page-item"><a class="page-link" href="#!">Older</a></li>
      </ul>
    </nav> -->
  </div>
</section>
