<section class="mb-5 rounded border border-primary" >
    <div>
        <span  class="badge bg-primary text-decoration-none text-dark link-light rounded border border-primary my-1" href="#!">HTML5</span>
        <span  class="badge bg-secondary text-decoration-none text-dark link-light rounded border border-primary" href="#!">CSS3</span>
        <span  class="badge bg-success text-decoration-none text-dark link-light rounded border border-primary" href="#!">MySQL</span>
        <span  class="badge bg-danger text-decoration-none text-dark link-light rounded border border-primary" href="#!">Laravel</span>
        <span  class="badge bg-warning text-decoration-none text-dark link-light rounded border border-primary" href="#!">Angular</span>
        <span  class="badge bg-light text-decoration-none text-dark link-light rounded border border-primary" href="#!">Docker</span>
        <span  class="badge bg-primary text-decoration-none text-dark link-light rounded border border-primary" href="#!">Joomla</span>
      </div>
</section>
