<!-- Page header with logo and tagline-->
<section class="py-2 bg-light border-bottom">
  <div class="container">
    <div  class="text-center my-5">
      <article>
        <header>
          <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
        </header>
      </article>
    </div>
    <article>
      <p class="lead">Construído no <a href="https://angular.io/">Angular</a>,
        com <a href="https://getbootstrap.com/">Bootstrap5</a> (Bootstrap is based on the Bootstrap framework created by
        Mark Otto and Jacob Thorton), a partir do tamplete
        <a href="https://startbootstrap.com/template/blog-post">blog-spot</a>
        e do tutorial <a href="https://youtu.be/Ym_T0mvvc7c">Using Bootstrap Templates in Angular Application</a>.
        As imagens foram obtidas em <a href="https://dummyimage.com">dummyimage.com</a>,
        um gerador dinâmico de imagens fictícias.
      </p>
    </article>
  </div>
</section>
