<section class="rounded border border-primary" >
  <section>
    <div class="card mb-4">
      <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
      <div class="card-body">
        <article>
          <header>
            <h1 class="card-title">Featured Post Title</h1>
            <div class="text-muted fst-italic mb-2">
              <span class="by">By </span><a href="#">Lúcio Lemos</a><span class="date"> posted on Agosto 23, 2021</span>
             </div>
          </header>
        </article>
        <article>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
            aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta
            expedita corporis animi vero voluptate voluptatibus possimus, veniam
            magni quis!
          </p>
        </article>
        <article>
          <a class="btn btn-primary" href="#!">Read more →</a>
        </article>
      </div>
    </div>
  </section>

  <section>
    <article class="mb-4">
      <header>
        <h1>Angular CLI</h1>
         <div class="text-muted fst-italic mb-2">
         <span class="by">By </span><a href="#">Lúcio Lemos</a><span class="date"> posted on Agosto 23, 2021</span>
        </div>
      </header>
    </article>
    <article>
      <!-- Preview image figure-->
      <p class="fs-5">
        The universe is large and old, and the ingredients for life as we know it
        are everywhere, so there's no reason to think that Earth would be unique
        in that regard. Whether of not the life became intelligent is a different
        question, and we'll see if we find that.
      </p>
    </article>
  </section>

  <section>
    <article class="mb-4">
      <header>
        <h1>Bootstrap5</h1>
        <div class="text-muted fst-italic mb-2">
          <span class="by">By </span><a href="#">Lúcio Lemos</a><span class="date"> posted on Agosto 23, 2021</span>
         </div>
      </header>
    </article>
    <article>
      <!-- Preview image figure-->
      <p class="fs-5">
        The universe is large and old, and the ingredients for life as we know it
        are everywhere, so there's no reason to think that Earth would be unique
        in that regard. Whether of not the life became intelligent is a different
        question, and we'll see if we find that.
      </p>
    </article>
  </section>
</section>
